[submodule "datasets"]
	path = datasets
	url = https://github.com/openrankprotocol/datasets

[submodule "jobmanager-smart-contract/lib/forge-std"]
	path = jobmanager-smart-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std